@font-face {
  font-family: "Copyduck";
  src: url("/Copyduck.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: "Copyduck";
}

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 15vh;

  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 98%;
  height: 85vh;
  overflow: hidden;

  padding: 1rem;
}

#restaurants {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 100%;
  overflow-y: auto;

  padding: 1rem;
}

.restaurant {
  padding: 1rem;
  margin-bottom: 1rem;

  border: solid 1px gray;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;

  cursor: pointer;
}

.restaurant > h2, .restaurant > h3 {
  margin: 0;
}

.restaurant:hover {
  box-shadow: rgba(0, 0, 0, 0.33) 0 0 8px;
}

.restaurant:active {
  box-shadow: none;
}

.restaurant.selected {
  box-shadow: rgba(0, 255, 0, 0.33) 0 0 8px;
}

#map {
  aspect-ratio: 1;
  width: auto;
  height: 100%;
  
  border: solid 1px gray;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}