@font-face {
  font-family: "Copyduck";
  src: url("/Copyduck.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: "Copyduck";
}

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3vw;
}

main {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#restaurants {
  width: 33vw;

  margin-right: 15vw;

  display: flex;
  flex-direction: column;
}

.restaurant {
  padding: 1rem;
  margin-bottom: 1rem;

  border: solid 1px gray;
  border-radius: 2rem;

  cursor: pointer;
}

.restaurant > h2, .restaurant > h3 {
  margin: 0;
}

.restaurant.selected {
  border-color: green;
}

#map {
  width: 33vw;
  
  margin-left: 15vw;
  
  aspect-ratio: 1;
  border-radius: 2rem;
}