@keyframes excited {
  0% {
    transform: translate(0, 0);
  }

  12% {
    transform: translate(calc(-1 * var(--shake-intensity)), calc(-1 * var(--shake-intensity)));
  }

  24% {
    transform: translate(var(--shake-intensity), var(--shake-intensity));
  }

  36% {
    transform: translate(0, calc(-1 * var(--shake-intensity)));
  }

  48% {
    transform: translate(0, var(--shake-intensity));
  }

  60% {
    transform: translate(calc(-1 * var(--shake-intensity)), 0);
  }

  72% {
    transform: translate(var(--shake-intensity), 0)
  }

  84% {
    transform: translate(calc(-1 * var(--shake-intensity)), var(--shake-intensity));
  }

  96% {
    transform: translate(var(--shake-intensity), calc(-1 * var(--shake-intensity)));
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #A7BF4E;
  --secondary-color: #F2AC29;
  --accent-color: #F24535;
  --shake-intensity: 2px
}

html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

#random-chooser-map-control-roll {
  padding: 1rem 2rem;

  background-color: var(--accent-color);
  border: none;
  border-radius: 3rem;

  color: #EEF2D0;
  font-size: xx-large;

  cursor: pointer;
  transition: all;
}

#random-chooser-map-control-roll:hover {
animation-name: excited;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#random-chooser-map-control-roll:active {
  animation-play-state: paused;
  transform: scale(0.9);
}

#random-chooser-map-control-choices {
  overflow-y: auto;
}

.random-chooser-map-control-choice {
  padding: 0.5rem 1rem;

  background-color: var(--secondary-color);
  border-radius: 0.5rem;

  cursor: pointer;
}

.random-chooser-map-control-choice.selected {
  background-color: var(--primary-color);
}