@keyframes excited {
    0% {
        transform: translate(0, 0);
    }

    12% {
        transform: translate(calc(-1 * var(--shake-intensity)),
                calc(-1 * var(--shake-intensity)));
    }

    24% {
        transform: translate(var(--shake-intensity), var(--shake-intensity));
    }

    36% {
        transform: translate(0, calc(-1 * var(--shake-intensity)));
    }

    48% {
        transform: translate(0, var(--shake-intensity));
    }

    60% {
        transform: translate(calc(-1 * var(--shake-intensity)), 0);
    }

    72% {
        transform: translate(var(--shake-intensity), 0);
    }

    84% {
        transform: translate(calc(-1 * var(--shake-intensity)),
                var(--shake-intensity));
    }

    96% {
        transform: translate(var(--shake-intensity),
                calc(-1 * var(--shake-intensity)));
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #a7bf4e;
    --secondary-color: #f2ac29;
    --accent-color: #f24535;
    --shake-intensity: 2px;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
}

#random-chooser-map-control-roll {
    padding: 1rem 2rem;

    background-color: var(--accent-color);
    border: none;
    border-radius: 3rem;

    color: #eef2d0;
    font-size: 2rem;

    cursor: pointer;
    transition: all;
}

#random-chooser-map-control-roll:hover {
    animation-name: excited;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#random-chooser-map-control-roll:active {
    animation-play-state: paused;
    transform: scale(0.9);
}

#random-chooser-map-control-choices {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.5rem 0;
    height: calc(100vh - 10rem);
    overflow-y: auto;

    mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 2%,
            black 98%,
            transparent 100%);
}

.random-chooser-map-control-choice {
    padding: 0.6rem 0.8rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    cursor: pointer;

    .random-chooser-map-control-choice-title {
        margin: 0;
        font-size: 1.2rem;
    }

    .random-chooser-map-control-choice-description,
    .random-chooser-map-control-choice-weight {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #333;
    }

    .random-chooser-map-control-choice-closable {
        overflow: hidden;
        max-height: 500px;
        transition: all 1s ease;
        opacity: 1;

        &.closed {
            max-height: 0;
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
}

.random-chooser-map-control-choice.selected {
    background-color: var(--primary-color);
}