name: Deploy React Vite to FTP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installer Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Installer pnpm
        run: npm install -g pnpm

      - name: Installer les dépendances
        run: pnpm install

      - name: Construire le projet
        run: pnpm run build

      - name: Copier dist dans public
        run: mkdir -p public && cp -a dist/. public/

      - name: Déployer via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: public/
          server-dir: /
          dangerous-clean-slate: false
